#logo-header{
    width:50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

body{
    background-color: #F7F7E6;
}


#titulo{
    position:relative;
}

#subtitulo{
    position:relative;
}

#caja-encabezado{
    width: auto;
    border: none;
    margin: 10px;
    padding: 50px;
    text-align: center;
    background-color: white;
}

#navbar{
    margin-left: 10px;
    margin-right: 10px;
}

#caja-A1{
    margin: 10px;
    justify-content: left;
    padding: 50px;
    background-color: white;
}

#caja-A2{
    width: none;
    border: none;
    margin: 10px;
    justify-content: left;
    padding: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
}

#caja-B1{
    width: 10px;
    border: 10px;
    margin: 10px;
    justify-content: right;
    padding: 100px;
    background-color: white;
}

.container{
    margin-left: 0px;
    padding:0px ;
    margin: 0px;
    margin-right:0px;
}

#caja-A21{
    width:90%;
    padding:15px;
    margin:15px;
}

#titulo2{
    width: 5px;
    border: 5px;
    margin: 5px;
    justify-content: left;
    padding: 50px;
    background-color: black;
}

#tablaPelis, th, td{

    font-size: 20px;
    margin-top: 75px;
    border-right: 50px solid white;
    border-bottom: 10px solid white;
    margin-left: auto;
    margin-right: auto;

}


.tabla a{
    text-decoration: none;
    color: black;
}

.tabla a:hover{
    text-decoration: underline;
}

#peliculas{
    display: table-caption;
    text-align: left;
}

.columna-der{
width: 30%;
}